internship-tracker/backend/.env
internship-tracker/backend/.env.local
internship-tracker/backend/.env.development.local
internship-tracker/backend/.env.test.local
internship-tracker/backend/.env.production.local
internship-tracker/backend/.DS_Store
internship-tracker/backend/build
internship-tracker/backend/.pnp
internship-tracker/backend/.pnp.js
internship-tracker/backend/coverage


internship-tracker/frontend/build
internship-tracker/frontend/.pnp
internship-tracker/frontend/.pnp.js
internship-tracker/frontend/coverage
internship-tracker/frontend/.env
internship-tracker/frontend/.env.local
internship-tracker/frontend/.env.development.local
internship-tracker/frontend/.env.test.local
internship-tracker/frontend/.env.production.local
internship-tracker/frontend/npm-debug.log*
internship-tracker/frontend/yarn-debug.log*
internship-tracker/frontend/yarn-error.log*
internship-tracker/frontend/.DS_Store
internship-tracker/frontend/.gitignore 

internship-tracker/frontend/node_modules
internship-tracker/node_modules
internship-tracker/backend/node_modules
internship-tracker/backend/package-lock.json
internship-tracker/frontend/package-lock.json
internship-tracker/package-lock.json


