
.fade-enter {
    opacity: 0;
    transform: scale(0.9);
}
.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms, transform 500ms;
}
.fade-exit {
    opacity: 1;
    transform: scale(1);
}
.fade-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 500ms, transform 500ms;
}
.scrollable-list-container {
    max-height: 40vh; /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: hidden;
}

.oaDates {
    color: #0058a0;
    margin-top: 0;
    padding: 0;
    height: 10px;
}
.interviewDates {
    color: #474747ea;
    margin-top: 0;
    padding: 0;
    height: 10px;
}

.role {
    flex: 1;
    overflow-x: scroll;
    white-space: nowrap;
}

.role::-webkit-scrollbar {
    width: 0;
    display: none;
}